:root {
  /* (CTA text) */
  --Light-red: hsl(356, 100%, 66%);
  /* (CTA hover background) */
  --Very-light-red: hsl(355, 100%, 74%);
  /* (headings) */
  --Very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */

  /* (text) */
  --White: hsl(0, 0%, 100%);
  /* (footer text) */
  --Grayish-blue: hsl(240, 2%, 79%);
  /* (body copy) */
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* (footer background) */
  --Very-dark-black-blue: hsl(240, 10%, 16%);

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --ff-op: "Overpass", Arial, sans-serif;
  --ff-uu: "Ubuntu", Helvetica, sans-serif;
}
/* --------------------------------------------------------------------------- GLobal / Resets 
-------------------------------------------------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
img,
picture {
  max-width: 100%;
  display: inline-block;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
.no-scroll {
  overflow: hidden;
}
/* --------------------------------------------------------------------------- Header
-------------------------------------------------------------------------------------------------------------------- */
header {
  padding: 3rem 0 12rem;
  background: url(./images/bg-pattern-intro-mobile.svg) no-repeat,
    linear-gradient(to bottom, var(--Very-light-red), var(--Light-red));
  background-position: right 65% top 33%;
}
.header__wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
/* --------------------- Nav */
.header__logo-nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__nav {
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: var(--White);
  width: 100%;
  right: 0;
  top: 65px;
  border-radius: 5px;
  text-align: center;
  font-family: var(--ff-op);
  font-weight: 600;
  color: var(--Very-dark-blue);
}
.header__nav.off {
  max-height: 5px;
  width: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 1, 1), padding 0.5s linear,
    width 0.3s 0.5s linear;
}
.header__nav.on {
  padding: 1rem;
  overflow: auto;
  transition: max-height 0.5s ease-in, padding 0.2s ease-in;
  max-height: 75vh;
}
.header__nav-info {
  border-bottom: 1px solid var(--Grayish-blue);
}
.header__nav-users {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__nav-item.sign-up {
  background: linear-gradient(
    to right,
    var(--Very-light-red),
    var(--Light-red)
  );
  align-self: center;
  padding: 1rem 3rem;
  color: white;
  border-radius: 40px;
}
/* -------------------------  Sub-Menu items */
.header__nav-item--sub-menu {
  margin: 2rem 0;
}
.header__sub-menu-item.on {
  color: hsla(208, 49%, 24%, 0.7);
}
.header__sub-menu-item > picture {
  margin-left: 3px;
  transition: transform 0.2s ease-in-out;
}
/* helper class */
.rotate-x {
  transform: rotateX(180deg);
}
.header__sub-menu-items-cont {
  position: relative;
  top: 10px;
  background-color: hsla(240, 2%, 79%, 0.25);
  color: hsla(208, 49%, 24%, 0.7);
  border-radius: 5px;
}
.header__sub-menu-items-cont.off {
  max-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s cubic-bezier(0, 1, 1, 1), padding 0.2s linear;
}
.header__sub-menu-items-cont.on {
  padding: 1rem 0;
  overflow: auto;
  transition: max-height 0.5s ease-in, padding 0.2s ease-in;
  max-height: 600px;
}
.header__nav-sub-item {
  display: block;
  margin: 1rem 0;
  font-weight: 600;
}
.header__title {
  margin-top: 100px;
  text-align: center;
  font-family: var(--ff-op);
  font-weight: 600;
  color: var(--White);
  font-size: clamp(1.875rem, 10vw, 4rem);
  margin-bottom: 0;
}
.header__sub-title {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--ff-op);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
.header__cta-cont {
  margin-top: 70px;
  font-family: var(--ff-uu);
  display: flex;
  gap: 1.5rem;
  font-weight: 600;
  font-size: 1.125rem;
}
.header__cta {
  flex-basis: 50%;
  border-radius: 40px;
  padding: 1rem 0;
  border: 1px solid var(--White);
}
.header__cta.start {
  background-color: var(--White);
  color: var(--Light-red);
}
.header__cta.more {
  background-color: transparent;
  color: var(--White);
}
/* --------------------------------------------------------------------------- Design
-------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- Infras
-------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- Tools
-------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- Footer
-------------------------------------------------------------------------------------------------------------------- */
